.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#experience {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

#about {
  background-color: #273036;
}

#education {
  background-color: #273036;
}

#award {
}
